body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat"
}

p {
  color: #8f8f8f;
}

/* Containers */
.container-fluid {
  padding: 5% 15%;
}

/* Sections */
.colored-section {
  background-color: #ff3c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 64px;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat-Light";
  font-size: 1.2rem;
}


/* Title  */
#title .container-fluid {
  padding: 3% 15% 5% 15%;
  text-align: left;
}

.title-h1 {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}


/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Main Image */
.title-image {
  height: 500px;
  transform: rotate(25deg);
  position: absolute;
  right: 23%;
}


/* Features  */
#features {
  position: relative;
  z-index: 1;
}

.features-p {
  color: #8f8f8f;
}

.feature-box {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 5%;
}

.features-h3-text {
  font-size: 1.5rem;
  font-weight: 700;
}


.feature-icons {
  color: #ef8172;
  margin-bottom: 34px;
}

.feature-icons:hover {
  color: #ff4c68;
}


/* Testimonial Section */
#testimonials {
  background-color: #ef8172;
}


.testimonials-h2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}


/* Pricing */
#pricing {
  padding: 100px;
}

.pricing-h2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

.pricing-p {
  color: #8f8f8f;
}

.pricing-column {
  padding: 3% 2%;
}

.cta-h2 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}


/* Footer Section */
#footer {
  background: #fff;
}

.footer-icons {
  margin: 20px 10px;
}

.footer-p {
  color: #8f8f8f;
}


/* Recursive */
@media (max-width: 1030px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
